// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  transition: $transition;
  color: $brand-color;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;

  @include on-event {
    text-decoration: underline;
  }
}

strong {
  display: inline-block;
}
figure {
  margin: 0;

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}
img {
  height: auto;
  display: block;
}

article {
  ul {
    margin-bottom: 30px;
    
    li {
      font-size: 18px;
      margin-bottom: 10px;

      @media screen and (max-width: $small) {
        font-size: 16px;
      }

    }
  }

  >*:last-child {
    margin-bottom: 0;
  }
}
