// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


//Simple CSS transition over 0.3s
$transition: all 0.3s ease-in-out 0s !default;


/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;
$brand-color: rgb(0,0,0) !default;


/// Breakpoints
$smallmobile: 400px !default;
$mobile: 580px !default;
$small: 767px !default;
$tablet-portrait: 920px !default;
$tablet-landscape: 1024px !default;
$large: 1280px !default;
$xlarge: 1500px !default;
